#src {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 100px;
    text-align: right;
}

hr {
    border: none;
    height: 1px;
    background-color: black;
}

#searchbox {
    position: absolute;
    margin-top: 24px;
}

#logout {
    position: absolute;
    margin-top: 24px;
}

#upload {
    margin-top: 8px;
    border: 1px solid black;
    text-align: center;
}

#filepicker, #name, #upload-button {
    position: absolute;
    margin-top: 16px;
}
