#back-button-container {
    margin-top: 24px;
}

#back-button {
    width: 160px;
    height: 35px;
}

#doc-name-label {
    text-align: center;
}

#left-column {
    border-right: 1px solid black;
}

#left-column, #right-column {
    text-align: center;
}
