<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>My Documents</title>
	<script src="./js/jquery-3.3.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/dashboard.css">
</head>

<body>
  <div class="container">
    <div class="row"><h1>Welcome!</h1></div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <h3 id="ur-docs">Your Documents</h3>
      </div>
      <div class="col-md-4">
        <input type="text" id="searchbox" placeholder="Search...">
      </div>
      <div class="col-md-4">
        <button type="button" id="logout">Logout</button>
      </div>
    </div>
    <hr>
  </div>
</body>

</html>
