<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Document</title>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/document.css}">
    <link rel="stylesheet" href="../static/css/document.css">
    <script th:inline="javascript">
      let params = new URLSearchParams(window.location.search);
      let tmp_user_id = /*[${user_id}]*/ "";
      const user_id = (((tmp_user_id == null) || (tmp_user_id.length == 0)) ? params.get('user_id') : tmp_user_id);

      const doc_id = params.get('doc_id');

      console.log("User_id: " + user_id);
      console.log("Doc_id: " + doc_id);
    </script>
	<script th:src="@{/js/document.js}"></script>
	<script src="../static/js/document.js"></script>
</head>

<body>
  <div class="container"><br>

    <!-- Top row -->
    <div class="row">
      <div class="col-md-3" id="back-button-container">
        <button type="button" id="back-button" onclick="goback()"><- My Documents</button>
      </div>
      <div class="col-md-6">
        <div id="doc-name-label">
          <h1 id="doc-name-label-text"></h1>
        </div>
      </div>
      <div class="col-md-3"></div> <!-- empty div -->
    </div>
    <br>

    <div class="row">

      <!-- left column -->
      <div class="col-md-6" id="left-column">
        <h3>Preview</h3>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div id="preview-box">
              <p id="preview-data"></p>
            </div>
            <div id="stats-box">
              <h4>Statistics</h4>
              <p id="stats-data">
                This document has N words.
              </p>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>

      <!-- right column -->
      <div class="col-md-6" id="right-column">
        <h3>Manage Document</h3>
        <div class="row" id="right-column-contents">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <button type="button" id="download-button" onclick="download_latest()">Download</button>

            <!-- upload section -->
            <div class="row manage-section">
              <div class="col-md-7"><input type="file" id="filepicker"></div>
              <div class="col-md-5">
                <button type="button" id="upload-button" onclick="upload()">Upload</button>
              </div>
            </div>

            <!-- share section -->
            <h4>Share Document</h4>
            <div class="row">
              <div class="col-md-7">
                <select name="share-with" id="share-select">
                  <option selected disabled>Choose provider</option>
                  <option value="Dr. Meredith Grey">Dr. Meredith Grey</option>
                  <option value="Dr. Derek Shepherd">Dr. Derek Shepherd</option>
                  <option value="Dr. Richard Webber">Dr. Richard Webber</option>
                </select>
              </div>
              <div class="col-md-5">
                <button type="button" id="share-button" onclick="share()">Share</button>
              </div>
            </div>

            <!-- previous versions section -->
            <h4>Previous Versions</h4>
            <div class="row">
              <div class="col-md-7">
                <select name="version-pick" id="version-select">
                  <option selected disabled>Choose version</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
                </select>
              </div>
              <div class="col-md-5">
                <button type="button" id="download-version-button" onclick="download_version()">
                  Download Version
                </button>
              </div>
            </div>

            <!-- delete section -->
            <h4>Delete Document</h4>
            <div class="row">
              <div class="col-md-7">
                <button type="button" id="delete-button" onclick="delete_doc()">Delete</button>
              </div>
              <div class="col-md-5"></div>
            </div>

          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>
